@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

$background-color: #f3f3f3;

$primary-color: #5ec576;
$secondary-color: #37383d;
$border-color: #16a45d;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  //   background: rgb(55, 56, 61);
  //   background: linear-gradient(
  //     357deg,
  //     rgba(55, 56, 61, 1) 0%,
  //     rgba(22, 164, 93, 1) 100%,
  //     rgba(55, 56, 61, 1) 100%
  //   );

  // -----------------------------
  background: rgb(118, 167, 118);
  background: linear-gradient(
    357deg,
    rgba(118, 167, 118, 1) 0%,
    rgba(22, 164, 93, 1) 100%,
    rgba(86, 255, 85, 1) 100%
  );
}

.container {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  p {
    font-size: 1.2rem;
    padding: 1rem;
    color: white;
  }

  h1 {
    color: white;
    padding: 2rem;
  }

  label {
    color: white;
  }

  input {
    border-radius: 25px;
    border: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 16rem;
    height: 1.5rem;

    &:focus {
      background-color: #efefef;
    }
  }
  button {
    background-color: $primary-color;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    border: 0;
    width: 200px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}


// ----------------------------------------------------

.fadeOut{
  animation-name: fadeOut;
  animation-duration: 1s;

}

@keyframes fadeOut{
  0%{
    opacity: 1;

  }

  100%{
    opacity: 0;
    display: none;
  }
}

.fadeIN{
  animation-name: fadeIN;
  transition: 1s;
}

@keyframes fadeIN{
  0%{
    opacity: 0;
    transform: translateY(-20px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}